@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="mainEffect">    
    <h1 class="display-4 text-capitalize text-black">Welcome to Joe's Pizzas</h1>
    <h2 class="mainSub"> The Best Pizza's Under One Roof </h2>
    </div>
    <img class="mainImage" src="~/images/Pizza.jpg"/>
    <br />
    <a class="btn btn-primary mt-1" asp-area="" asp-page="Pizza">Order pizza</a>
    
</div>
